- # FIXME / TODO: Logic in views is ugly as hell, so this should be in a component.

- # We render the note's HTML with fake content to be used by the boards' channel.
- # It'll replace this content with the real one before returning it.
- replace_vars = { content: "##note.content##" }

#dummy_note.hidden{"data-dummy-note-data": replace_vars.to_json}
  = render "notes/note", replace_vars
