.DS_store
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/vendor/bundle
/public/assets/*
/.env
/public/packs
/public/packs-development
/public/packs-test
/node_modules
yarn-error.log
yarn-debug.log
.yarn-integrity
