.DS_store
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/vendor/bundle
/public/assets/*
/config/.env
/public/packs-development
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
